body {
    background: cyan;
}

h1 {
    background: tan;
    color: white;
    float: left;
    padding: 20px, 20px, 20px, 20px;
}

.instructions{
    background-color: coral;
    color: green;
    font-size: medium;
    font-weight: bold;
}

.random-rectangle {
    background-color: lightgreen;
    color: orangered;
    font-size: 30px;
    
}

.streak-keeper {
    background-color: black;
    color: white;
    font-size: 25px;
}

.total-score {
    background-color: teal;
    font-size: 30px;
}